@media (max-width: 600px) {
   nav{
    padding: 0rem;
    width: 30%;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .navbar--home{
    display: flex;
    flex-direction: column;
}

.navbar--profile{
    display: flex;
    flex-direction: column;
}

.navbar--home img{
    width: 3rem;
}

.premera--movies--img{
    width: 20rem;
    height: 12rem;
}

.hero--items{
    width: 70%;
}

.trending--movies img{
    width: 100%;
}
  }